flows/contact_flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_mobile_to_phone</name>
        <label>assign mobile to phone</label>
        <locationX>655</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>con.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con.HomePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_contactlist</targetReference>
        </connector>
    </assignments>
    <interviewLabel>contact flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>contact flow</label>
    <loops>
        <name>iterate_over_contacts</name>
        <label>iterate over contacts</label>
        <locationX>372</locationX>
        <locationY>75</locationY>
        <assignNextValueToReference>con</assignNextValueToReference>
        <collectionReference>Contlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_mobile_to_phone</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>update_contacct_mobile</name>
        <label>update contacct mobile</label>
        <locationX>162</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_over_contacts</targetReference>
        </connector>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contlist</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_contactlist</name>
        <label>update contactlist</label>
        <locationX>162</locationX>
        <locationY>273</locationY>
        <inputReference>Contlist</inputReference>
    </recordUpdates>
    <startElementReference>update_contacct_mobile</startElementReference>
    <variables>
        <name>con</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
